@model List<ProductViewModel>
@{
}

<body>
    <div class="sidenav" style="margin-top:142px">
        <div class="filter">
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="false" aria-controls="mobile-filter">Filters<span class="fa fa-filter pl-1"></span></button>
        </div>
        <section id="sidebar">
            <div>
                <h6 class="p-1 border-bottom">Home Furniture</h6>
                <ul>
                    <li><a href="#">Living</a></li>
                    <li><a href="#">Dining</a></li>
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Bedroom</a></li>
                    <li><a href="#">Kitchen</a></li>
                </ul>
            </div>
            <div>
                <h6 class="p-1 border-bottom">Filter By</h6>
                <p class="mb-2">Color</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action mb-2 rounded">
                        <a href="#">
                            <span class="fa fa-circle pr-1" id="red"></span>Red
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action mb-2 rounded">
                        <a href="#">
                            <span class="fa fa-circle pr-1" id="teal"></span>Teal
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action mb-2 rounded">
                        <a href="#">
                            <span class="fa fa-circle pr-1" id="blue"></span>Blue
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h6>Type</h6>
                <form class="ml-md-2">
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <input type="radio" name="type" id="boring">
                        <label for="boring" class="pl-1 pt-sm-0 pt-1">Boring</label>
                    </div>
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <input type="radio" name="type" id="ugly">
                        <label for="ugly" class="pl-1 pt-sm-0 pt-1">Ugly</label>
                    </div>
                    <div class="form-inline border rounded p-md-2 p-sm-1">
                        <input type="radio" name="type" id="notugly">
                        <label for="notugly" class="pl-1 pt-sm-0 pt-1">Not Ugly</label>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <section id="products" style="width:auto">
        <div class="container">
            <div class="row">
                <div class="row g-3 justify-content-center">
                    @if (Model.Count != 0)
                    {
                        @foreach (ProductViewModel product in Model)
                        {
                            <div style="width: 238px">
                                <!-- Single product Start -->
                                <div class="single-product js-scroll ShortFadeInUp">
                                    <div class="single-product__thumbnail">
                                        <form method="post">
                                            <div class="single-product__thumbnail--meta-3">
                                                <button data-bs-tooltip="tooltip" asp-action="AddToFavourites" asp-controller="Product" asp-route-productId="@product.Id">
                                                    <i class="bi bi-heart"></i>
                                                </button>
                                            </div>
                                        </form>

                                        <div class="single-product__thumbnail--holder">
                                            <a>
                                                <img src="@product.ImgUrl" alt="Product" width="350" height="378" loading="lazy" />
                                            </a>
                                        </div>
                                        <div class="single-product__thumbnail--meta-2">
                                            <form method="post">
                                                <button data-bs-tooltip="tooltip" asp-action="AddCart" asp-controller="Product" asp-route-productId="@product.Id" data-bs-custom-class="p-meta-tooltip">
                                                    <i class="bi bi-cart"></i>
                                                </button>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="single-product__info text-center">
                                        <div class="single-product__info--tags">
                                            <a>@product.CategoryName</a>
                                        </div>
                                        <h3 class="single-product__info--title">
                                            <a asp-action="FullProductPage" asp-controller="Product" asp-route-productId="@product.Id">
                                                @product.Name
                                            </a>
                                        </h3>
                                        <div class="single-product__info--price">
                                            <ins>@product.Price$</ins>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single product End -->
                            </div>
                        }
                    }
                    else
                    {
                        <div>There are no products at the moment</div>
                    }
                </div>
            </div>
        </div>
    </section>
</body>
