@using Skateverse.Data.Models
@model List<CartViewModel>
@{
    double productSubPrice = 0;
    double totalPrice = 0;
    @foreach (CartViewModel cart in Model)
    {
        productSubPrice = cart.Count * cart.Product.Price;
        totalPrice += productSubPrice;

    }

}

<main>
    <div style="margin-top:142px">
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <h2 class="breadcrumb-wrapper__title">Cart</h2>
                    <ul class="breadcrumb-wrapper__items justify-content-center">
                        <li><a href="index.html">Home</a></li>
                        <li><span>Cart</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Cart Start -->
        <div class="cart-section section-padding-2">
            <div class="container-fluid custom-container">
                <!-- Cart Wrapper Start-->
                <div class="cart-wrapper">
                    <!-- Cart Form Start-->
                    <div class="cart-form">
                        <!-- Cart Table Start-->
                        <div class="cart-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-product-remove">
                                            &nbsp;
                                        </th>
                                        <th class="cart-product-thumbnail">
                                            &nbsp;
                                        </th>
                                        <th class="cart-product-name">
                                            Product
                                        </th>
                                        <th class="cart-product-price text-center">
                                            Price
                                        </th>
                                        <th class="cart-product-quantity text-center">
                                            Quantity
                                        </th>
                                        <th class="cart-product-subtotal text-center">
                                            Subtotal
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (CartViewModel cart in Model)
                                    {
                                        <tr class="cart-item">
                                            <td class="bi bi-x">
                                                <a asp-action="RemoveFromCart" asp-controller="Product" asp-route-cartId="@cart.Id" class="remove"></a>
                                            </td>

                                            <td class="cart-product-thumbnail">
                                                <a href="product-single.html">
                                                    <img src="@cart.Product.ImgUrl" alt="Product" width="70" height="89" />
                                                </a>
                                            </td>

                                            <td class="cart-product-name">
                                                <a href="product-single.html">
                                                    @cart.Product.Name
                                                </a>
                                            </td>

                                            <td class="cart-product-price text-md-center" data-title="Price">
                                                <span class="price-amount">
                                                    <ins>@cart.Product.Price $</ins>
                                                </span>
                                            </td>
                                            <td class="cart-product-quantity text-md-center" data-title="Quantity">
                                                <div class="cart-table__quantity product-quantity">
                                                    <form method="post" asp-action="LowerTheCount" asp-controller="Product">
                                                        <input type="hidden" name="cartId" value="@cart.Id" />
                                                        <button type="submit">
                                                            <i class="bi bi-x"></i>
                                                        </button>
                                                    </form>
                                                    <input class="quantity-input" type="text" value="@cart.Count" aria-label="quantity" />
                                                    <form asp-action="UpTheCount" asp-controller="Product" method="post">
                                                        <input type="hidden" name="cartId" value="@cart.Id" />
                                                        <button type="submit">
                                                            <i class="bi bi-plus"></i>
                                                        </button>
                                                    </form>

                                                </div>
                                            </td>

                                            <td class="cart-product-subtotal text-md-center" data-title="Subtotal">
                                                <span class="price-amount">@(cart.Product.Price * cart.Count)$</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- Cart Table Start-->
                    </div>
                    <!-- Cart Form End-->
                    <!-- Cart Collaterals Start-->
                    <div class="cart-collaterals">
                        <!-- Cart Totals Start-->
                        <div class="cart-totals">
                            <h3 class="cart-totals__title">Cart totals</h3>

                            <div class="cart-totals__table table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td>
                                                <strong>@totalPrice $</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            @if(Model.Count > 0)
                            //Denis Dade
                            {
                                <div>
                                    <a asp-action="CheckOut" asp-controller="Product">Proceed to checkout</a>
                                </div>
                            }

                        </div>
                        <!-- Cart Totals End-->
                    </div>
                    <!-- Cart Collaterals End-->
                </div>
                <!-- Cart Wrapper End -->
            </div>
        </div>
        <!-- Cart End -->
    </div>
</main>