@using System.Security.Claims;
@model List<ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div style="margin-top:142px">
        <div class="tab-content">
            <div id="allProducts" class="tab-pane fade show active" role="tabpanel">
                <div class="new-arrival-wrapper-2">
                    <div class="row g-3 justify-content-center">
                        @foreach (ProductViewModel product in Model)
                        {
                            <div style="width: 238px">
                                <!-- Single product Start -->
                                <div class="single-product js-scroll ShortFadeInUp">
                                    <div class="single-product__thumbnail">
                                        <div class="single-product__thumbnail--meta-3">
                                            <a href="#" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Add to wishlist" aria-label="Add to wishlist" data-bs-custom-class="p-meta-tooltip">
                                                <i class="bi bi-heart"></i>
                                            </a>
                                        </div>
                                        <div class="single-product__thumbnail--holder">
                                            <a href="product-single.html">
                                                <img src="@product.ImgUrl" alt="Product" width="350" height="378" loading="lazy" />
                                            </a>
                                        </div>
                                        <div class="single-product__thumbnail--meta-2">
                                            <form method="post">
                                                <button data-bs-tooltip="tooltip" asp-action="AddCart" asp-controller="Product" asp-route-productId="@product.Id" data-bs-custom-class="p-meta-tooltip">
                                                    <i class="bi bi-cart"></i>
                                                </button>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="single-product__info text-center">
                                        <div class="single-product__info--tags">
                                            <a href="product-single.html">@product.CategoryName</a>
                                        </div>
                                        <h3 class="single-product__info--title">
                                            <a href="#">
                                                @product.Name
                                            </a>
                                        </h3>
                                        <div class="single-product__info--price">
                                            <ins>@product.Price$</ins>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single product End -->
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
